.swiperContainer {
  width: 100%;
  z-index: 10;
  overflow: hidden;
}

.swiper-slide.best-item {
  width: auto;
}
.best-item .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.best-item .product .img {
  width: 400px;
  height: 400px;
}
.best-item .product .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.best-item .product .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.best-item .product .text .p-cate {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.75px;
  color: #f15a24;
  font-family: "Paperlogy";
}
.best-item .product .text .p-name {
  font-size: 20px;
  letter-spacing: -0.75px;
  color: #000;
  font-family: "Paperlogy";
}
.best-item .product .text .p-brand {
  color: #555;
  font-size: 16px;
  letter-spacing: -0.75px;
  font-family: "Paperlogy";
}
.best-item .product .text .view-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.best-item .product .text .view-detail span {
  font-size: 14px;
  letter-spacing: -0.75px;
  font-weight: 500;
  color: #000;
  transition: all 0.3s;
}
.best-item > .product .text .view-detail .arrow-right {
  width: 24px;
  height: 24px;
  background: url($/assets/images/main/section02/arrow-right-view.svg) no-repeat
    50% 50%;
  background-size: contain;
  filter: grayscale(1) brightness(0);
  transition: all 0.3s;
}
.best-item .product .text .view-detail:hover span {
  color: #f15a24;
  font-weight: 600;
}
.best-item .product .text .view-detail:hover .arrow-right {
  filter: grayscale(0) brightness(1);
}
.best-contr {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 20px;
}

.best-pagination {
  width: 100%;
  position: relative;
  height: 2px;
  background-color: #e5e5e5;
}

.best-pagination > span {
  background-color: #f15a24;
  height: 2px;
}
.swiper-pagination-progressbar-fill {
  background-color: #f15a24;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #f15a24;
  width: 100%;
}

.best-contr .contr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.best-contr .contr .best-prev {
  width: 30px;
  height: 30px;
  display: block;
  background: url($/assets/images/main/section02/Arrow-Left-slide.svg) no-repeat
    50% 50%;
  background-size: contain;
  filter: grayscale(1) brightness(0);
  transition: all 0.3s;
}
.best-contr .contr .best-prev:hover {
  filter: grayscale(0) brightness(1);
}
.best-contr .contr .best-next {
  width: 30px;
  height: 30px;
  display: block;
  background: url($/assets/images/main/section02/Arrow-Right-slide.svg)
    no-repeat 50% 50%;
  background-size: contain;
  filter: grayscale(1) brightness(0);
  transition: all 0.3s;
}
.best-contr .contr .best-next:hover {
  filter: grayscale(0) brightness(1);
}
.best-contr .contr .best-play {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: #fff;
  position: relative;
  transition: all 0.3s;
}
.best-contr .contr .best-play:hover {
  background-color: #ff6e3a;
  border-color: #ff6e3a;
}
.best-contr .contr .best-play i.pause {
  display: block;
  width: 20px;
  height: 20px;
  background: url($/assets/images/main/section02/stop-slide.svg) no-repeat 50%
    50%;
  background-size: contain;
  transition: all 0.3s;
}
.best-contr .contr .best-play i.start {
  display: block;
  width: 20px;
  height: 20px;
  background: url($/assets/images/main/section02/start-icon.svg) no-repeat 50%
    50%;
  background-size: contain;
  display: none;
  transition: all 0.3s;
}
.best-contr .contr .best-play.on {
  background-color: #ff6e3a;
  border-color: #ff6e3a;
}
.best-contr .contr .best-play.on i.start {
  display: block;
}
.best-contr .contr .best-play.on i.pause {
  display: none;
}

@media screen and (max-width: 800px) {
  .best-contr .contr {
    display: none;
  }
}
